// current system date
// obsolete, use ProjData.h instead
// use kpmkcdat.sh for generation
#error This is an example -- dynamically generated ~/kpcurdat.h should be included instead
#define CUR_DATE (const uchar *)"2013-11-28"
